@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,800;1,400;1,800&display=swap');

:root {
    --font-family: Inter, sans-serif;
    --bg-color: #292929;
    --fg-color: #fcfcfc;
    --secondary-color: #c3bdff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    font-family: var(--font-family);
    font-size: 14px;
}

input {
    font-family: var(--font-family);
}

.website-title {
    color: white;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 52px;
    text-align: center;
    margin: 15px 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background: var(--bg-color);
    border: 1px solid #fff;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 15px;
    color: #fff;
    background: var(--secondary-color);
}

.header a {
    display: inline-block;
    font-size: 13px;
    margin: 0 0 10px 0;
    color: #fff;
    text-decoration: none;
}

.wrapper {
    flex: 1;
    overflow-y: scroll;
}

.rooms-wrapper {
    background: var(--fg-color);
}

.rooms-wrapper .room-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.rooms-wrapper .room-display:hover {
    background: #cccccc;
}

.create-wrapper {
    padding: 15px;
}

.create-form input {
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
}

.create-form input:focus {
    border-color: #8379fc;
}

.btn {
    font-family: var(--font-family);
    display: inline-block;
    text-decoration: none;
    background: var(--secondary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.btn:hover {
    background: #8379fc;
}

.messages-wrapper {
    padding: 15px;
}

.names-wrapper, .names-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.names-wrapper form input {
    font-size: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    text-align: center;
    margin: 20px 0;
    color: #fff;
}

.msg-wrapper {
    display: flex;
    margin: 5px 0;
}

.msg-wrapper .inner-wrapper {
    display: flex;
    flex-direction: column;
}

.msg-wrapper .name {
    padding: 0 20px;
    font-size: 10px;
    color: #ccc;
}

.msg-wrapper.sent {
    justify-content: flex-end;
}

.msg-wrapper.sent .name {
    display: inline-block;
    align-self: flex-end;
}

.message {
    background: var(--fg-color);
    padding: 15px 20px;
    border-radius: 40px;
}

.sent .message {
    background: var(--secondary-color);
}

.send-wrapper {
    display: flex;
    width: 100%;
}

.send-wrapper input {
    flex: 1;
    background: #474646;
    border: none;
    padding: 10px;
    font-size: 15px;
    color: white;
}

.send-wrapper button {
    background: var(--secondary-color);
    border: none;
    padding: 15px;
}